html {
  overflow: auto;
}
html, body {
  height: 100%;
}

@font-face{
  font-family: 'HackBold';
  src: url('https://cdn.harrisonlee.net/Hack-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    /*background-image: url('../../static/images/dot-grid.png');*/
    background-repeat: repeat;
    font-family: 'HackBold';
}

::selection,
::-moz-selection {
  color: #fff;
  background-color: #000;
}

pre, code {
  font-size: 14px;
  font-family: 'HackBold';
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: normal;
}

.v-list-item p {
  margin: 0 !important;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

.keyword {
  color: deeppink;
}